{% extends "page.html" %}

{% block bodyclass %}Datakwaliteit{% endblock %}

{% block breadcrumb_content %}
  <a href="/data/dataset">Data</a>
{% endblock %}

{% block header_title %}
  Kwaliteit
{% endblock %}

{% block primary_content %}
  <h1>Kwaliteit</h1>
  {{ super() }}
{% endblock %}

{% block primary_content_inner %}
  <ul>
    <li>{{h.link_to("Datasets met niet werkende links", h.url_for(controller='ckanext.qa.controller:QAController', action='dataset_broken_resource_links'))}}</li>
    <li>{{h.link_to("Linked data sterren waardering voor datasets", h.url_for(controller='ckanext.qa.controller:QAController', action='five_stars'))}}</li>    
    {% if c.organisations %}
      <li>{{h.link_to("Organisations whose datasets contain broken resource links", h.url_for(controller='ckanext.qa.controller:QAController', action='broken_resource_links'))}}</li>
    {% endif %}
  </ul>
{% endblock %}

{% block page_header %}{% endblock %}

{% block secondary_content %}
{% endblock %}
