{% if pkg %}  
  <h2>Dataset informatie:</h2>
  <div class="dataset-information">
    <div class="information-icon">
      {{ h.link_to(pkg.title or pkg.name, h.url_for(controller='package', action='read', id=pkg.name)) }}
    </div>

    {% if pkg.theme and h.donl_sel_to_dict(h.donl_owms_taxonomie_beleidsagenda())[pkg.theme] %}
      {% set theme = h.donl_sel_to_dict(h.donl_owms_taxonomie_beleidsagenda())[pkg.theme] or pkg.theme %}
      {% set theme = theme.split(' | ') %}
      {% set theme = theme[0]|replace(" ", "_") %}
      {% set theme = theme.lower() %}
      <div class="theme {{ theme }}">
        <a href="/data/dataset?theme_displayname={{ h.donl_sel_to_dict(h.donl_owms_taxonomie_beleidsagenda())[pkg.theme] or pkg.theme }}">
          {{ h.donl_sel_to_dict(h.donl_owms_taxonomie_beleidsagenda())[pkg.theme] }}
        </a>
      </div>
      {#
      {% if pkg.theme and h.donl_sel_to_dict(h.donl_owms_taxonomie_beleidsagenda())[pkg.theme_secondary] %} 
        {% set theme = h.donl_sel_to_dict(h.donl_owms_taxonomie_beleidsagenda())[pkg.theme_secondary] or pkg.theme_secondary %}
        {% set theme = theme.split(' | ') %}
        {% set theme = theme[0]|replace(" ", "_") %}
        {% set theme = theme.lower() %}
        <div class="theme {{ theme }}">
          <a href="/data/dataset?theme_displayname={{ h.donl_sel_to_dict(h.donl_owms_taxonomie_beleidsagenda())[pkg.theme_secondary] or pkg.theme_secondary }}">
            {{ h.donl_sel_to_dict(h.donl_owms_taxonomie_beleidsagenda())[pkg.theme_secondary] }}
          </a>
        </div>
      {% endif %}
      #}
    {% else %}
      <div class="theme unkown">Onbekend</div>
    {% endif %}
  </div> 
{% endif %}
