{% import 'macros/form.html' as form %}

{% set dataset_is_draft = data.get('state', 'draft').startswith('draft') or data.get('state', 'none') ==  'none' %}
{% set dataset_has_organization = data.owner_org or data.group_id %}
{% set organizations_available = h.organizations_available('create_dataset') %}
{% set user_is_sysadmin = h.check_access('sysadmin') %}
{% set show_organizations_selector = organizations_available and (user_is_sysadmin or dataset_is_draft) %}
{% set show_visibility_selector = dataset_has_organization or (organizations_available and (user_is_sysadmin or dataset_is_draft)) %}

<h2>{{ _('Organisatiegegevens') }}</h2>

{% if user_is_sysadmin %}
  <div class="control-group control-medium control-select">
    <label for="field-creator_user_id" class="control-label">{{ _('Gebruiker') }}</label>
    <div class="controls">
      <select id="field-creator_user_id" name="creator_user_id" data-module="autocomplete">
        {% for user in h.donl_active_users() %}
          <option value="{{ user.id }}" {% if user.id == data.creator_user_id %} selected="selected" {% endif %}>{{ user.fullname }} ({{ user.name }} - {{ user.email }})</option>
        {% endfor %}
      </select>
    </div>
  </div>



  {% set existing_org = data.owner_org or data.group_id %}
  <div class="control-group">
    <label for="field-organizations" class="control-label">{{ _('Catalogus') }}</label>
    <div class="controls">
      <select id="field-organizations" name="owner_org" data-module="autocomplete">
        {% if h.check_config_permission('create_unowned_dataset') %}
           <option value="" {% if not selected_org and data.id %} selected="selected" {% endif %}>{{ _('No organization') }}</option>
        {% endif %}
        {% for organization in organizations_available %}
          {# get out first org from users list only if there is not an existing org #}
          {% set selected_org = (existing_org and existing_org == organization.id) or (not existing_org and not data.id and organization.id == organizations_available[0].id) %}
          <option value="{{ organization.id }}" {% if selected_org %} selected="selected" {% endif %}>{{ organization.display_name }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
{% endif %}

{# if dataset_is_draft #}
  <div class="control-group control-medium control-select">
    <label for="field-maintainer" class="control-label"><span title=" {{ _('This field is required') }}" class="control-required">*</span> {{ _('Data-eigenaar') }}</label>
    <div class="controls">
      <select id="field-maintainer" name="maintainer" data-module="autocomplete">
        {% for organization in h.donl_owms_taxonomie_overheidsorganisatie() %}
          <option value="{{ organization.value }}" {% if organization.value == data.maintainer %} selected="selected" {% endif %}>{{ organization.text }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
{# else %}
  {{ form.input('maintainer', label=_('Data-eigenaar'), id='field-maintainer', placeholder=_('vb. Ministerie van Financiën, DG Rijksbegroting'), value=data.maintainer, error=errors.maintainer, classes=['control-full', 'control-large'], is_required=true) }}
{% endif #}

{{ form.input('maintainer_email', label=_('Data-eigenaar Email'), id='field-maintainer-email', placeholder=_('joe@example.com'), value=data.maintainer_email, error=errors.maintainer_email, classes=['control-full', 'control-large']) }}


{% if dataset_is_draft %}
  <div class="control-group control-medium control-select">
    <label for="field-author" class="control-label">{{ _('Verstrekker') }}</label>
    <div class="controls">
      <select id="field-author" name="author" data-module="autocomplete">
        {% for organization in h.donl_owms_taxonomie_overheidsorganisatie() %}
          <option value="{{ organization.value }}" {% if organization.value == data.author %} selected="selected" {% endif %}>{{ organization.text }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
{% else %}
  {{ form.input('author', label=_('Verstrekker'), id='field-author', placeholder=_('vb. PDOK'), value=data.author, error=errors.author, classes=['control-full', 'control-large']) }}
{% endif %}

{{ form.input('author_email', label=_('Verstrekker Email'), id='field-author-email', placeholder=_('joe@example.com'), value=data.author_email, error=errors.author_email, classes=['control-full', 'control-large']) }}


<h2>{{ _('Dataset') }}</h2>

<div class="control-group control-select">
  {% set error = errors.license_id %}
  <label class="control-label" for="field-license"><span title=" {{ _('This field is required') }}" class="control-required">*</span> {{ _("Licentie") }}</label>
  <div class="controls">
    <select id="field-license" name="license_id" {# data-module="autocomplete" #}>
      {% for license_desc, license_id in licenses %}
        <option value="{{ license_id }}" {% if data.get('license_id', 'notspecified') == license_id %}selected="selected"{% endif %}>{{ license_desc }}</option>
      {% endfor %}
    </select>
    {% if error %}<span class="error-block">{{ error }}</span>{% endif %}
    {# Licence information block   
    <span class="info-block info-inline">
      <i class="icon-info-sign"></i>
      {% trans %}
        Definities van licenties en aanvullende informatie zijn te vinden op <a href="http://opendefinition.org/licenses/">opendefinition.org</a>
      {% endtrans %}
    </span>
    #}
  </div>
</div>

{{ form.input('title', id='field-title', label=_('Title'), placeholder=_('vb. Rijksbegroting 2014'), value=data.title, error=errors.title, classes=['control-full', 'control-large'], attrs={'data-module': 'slug-preview-target'}, is_required=true) }}

{% set name_prefix = h.url_for(controller='package', action='read', id='') %}
{% set name_domain = h.url_for(controller='package', action='read', id='', qualified=true) %}
{% set name_domain = name_domain|replace("http://", "")|replace("https://", "") %}
{% set name_attrs = {'data-module': 'slug-preview-slug', 'data-module-prefix': name_domain, 'data-module-placeholder': '<dataset>'} %}
{{ form.prepend('name', id='field-name', label=_('Alias'), prepend=name_prefix, placeholder=_('eg. my-dataset'), value=data.name, error=errors.name, attrs=name_attrs, is_required=true) }}

{{ form.select('theme', label=_('Thema'), id='field-theme', error=errors.theme, classes=['control-medium'], options=h.donl_owms_taxonomie_beleidsagenda(), selected=data.theme, attrs={'data-module': 'autocomplete'}) }}

{# form.select('theme_secondary', label=_('Thema (secundair)'), id='field-theme_secondary', error=errors.theme_secondary, classes=['control-medium'], options=h.donl_owms_taxonomie_beleidsagenda(), selected=data.theme_secondary, attrs={'data-module': 'autocomplete'}) #}

{% set tag_attrs = {'data-module': 'autocomplete', 'data-module-tags': '', 'data-module-source': '/api/2/util/tag/autocomplete?incomplete=?'} %}
{{ form.input('tag_string', id='field-tags', label=_('Tags'), placeholder=_('vb. begrotingsstaat, najaarsnota, prinsjesdag, rijksbegroting, slotwet, voorjaarsnota'), value=data.tag_string, error=errors.tags, classes=['control-full'], attrs=tag_attrs) }}

{{ form.markdown('notes', id='field-notes', label=_('Description'), placeholder=_('vb. Een overzicht van uitgaven, verplichtingen en ontvangsten per artikel van de departementale begrotingen.'), value=data.notes, error=errors.notes, is_required=true) }}

{{ form.select('language', label=_('Taal'), id='field-language', selected=data.language, error=errors.language, classes=['control-select'], is_required=true, options=h.donl_language()) }}


<h2>{{ _('Versie') }}</h2>

{{ form.input('version', label=_('Version'), id='field-version', placeholder=_('1.0'), value=data.version, error=errors.version, classes=['control-full', 'control-large']) }}

{{ form.input('version_notes', label=_('Versietoelichting'), id='field-version_notes', value=data.version_notes, error=errors.version_notes, classes=['control-full', 'control-large']) }}

{{ form.input('modified', label=_('Wijzigingsdatum'), id='field-modified', value=data.modified, error=errors.modified, classes=['control-full', 'control-large'], type='date', is_required=true) }}

{{ form.input('landingpage', label=_('Meer informatie'), placeholder=_('vb. http://opendata.rijksbegroting.nl/'), id='field-landingpage', value=data.landingpage, error=errors.landingpage, classes=['control-full', 'control-large'], type='url') }}


<h2>{{ _('Vervolgactie') }}</h2>

{# if we have a default group then this wants remembering #}
{% if data.group_id %}
  <input type="hidden" name="groups__0__id" value="{{ data.group_id }}" />
{% endif %}

{% if show_visibility_selector %}
  {% block package_metadata_fields_visibility %}
    <div class="control-group control-select">
      <label for="field-private" class="control-label">{{ _('Zichtbaarheid op data.overheid.nl') }}</label>
      <div class="controls">
        <select id="field-private" name="private">
          {% for option in [('True', _('Verborgen')), ('False', _('Zichtbaar'))] %}
          <option value="{{ option[0] }}" {% if option[0] == data.private|trim %}selected="selected"{% endif %}>{{ option[1] }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
  {% endblock %}
{% endif %}

{% if data.id and h.check_access('package_delete', {'id': data.id}) and data.state != 'active' %}
  <div class="control-group control-select">
    <label for="field-state" class="control-label">{{ _('Status') }}</label>
    <div class="controls">
      <select id="field-state" name="state">
        <option value="active" {% if data.get('state', 'none') == 'active' %} selected="selected" {% endif %}>{{ _('Active') }}</option>
        <option value="deleted" {% if data.get('state', 'none') == 'deleted' %} selected="selected" {% endif %}>{{ _('Deleted') }}</option>
      </select>
    </div>
  </div>
{% endif %}