{% import 'macros/form.html' as form %}

{% set dataset_is_draft = data.get('state', 'draft').startswith('draft') or data.get('state', 'none') ==  'none' %}
{% set dataset_has_organization = data.owner_org or data.group_id %}
{% set organizations_available = h.organizations_available('create_dataset') %}
{% set user_is_sysadmin = h.check_access('sysadmin') %}
{% set show_organizations_selector = organizations_available and (user_is_sysadmin or dataset_is_draft) %}
{% set show_visibility_selector = dataset_has_organization or (organizations_available and (user_is_sysadmin or dataset_is_draft)) %}
{% set maintainer = data.maintainer or h.donl_maintainer_from_profile(c.user) %}
{% set author = data.author or h.donl_author_from_profile(c.user) %}


<h2>{{ _('A. Organisatie') }}</h2>

  <div class="control-group control-medium control-select">
    <label for="field-maintainer" class="control-label"><span title=" {{ _('This field is required') }}" class="control-required">*</span> {{ _('Data-eigenaar') }}</label>
    <div class="controls">
      <select id="field-maintainer" name="maintainer" data-module="autocomplete" {% if not user_is_sysadmin %}readonly="readonly" disabled="disabled"{% endif%}>
        {% for organization in h.donl_owms_taxonomie_overheidsorganisatie() %}
          <option value="{{ organization.value }}" {% if organization.value == maintainer %} selected="selected" {% endif %}>{{ organization.text }}</option>
        {% endfor %}
      </select>
    </div>
  </div>

{{ form.input('maintainer_email', label=_('Data-eigenaar Email'), id='field-maintainer-email', placeholder=_('joe@example.com'), value=data.maintainer_email or h.donl_email_from_profile(c.user), error=errors.maintainer_email, classes=['control-full', 'control-large']) }}


  <div class="control-group control-medium control-select">
    <label for="field-author" class="control-label">{{ _('Verstrekker') }}</label>
    <div class="controls">
      <select id="field-author" name="author" data-module="autocomplete" {% if not user_is_sysadmin %}readonly="readonly" disabled="disabled"{% endif%}>
        {% for organization in h.donl_owms_taxonomie_overheidsorganisatie() %}
          <option value="{{ organization.value }}" {% if organization.value == author %} selected="selected" {% endif %}>{{ organization.text }}</option>
        {% endfor %}
      </select>
    </div>
  </div>

{{ form.input('author_email', label=_('Verstrekker Email'), id='field-author-email', placeholder=_('joe@example.com'), value=data.author_email or h.donl_email_from_profile(c.user), error=errors.author_email, classes=['control-full', 'control-large']) }}

{% if user_is_sysadmin %}
  <div class="control-group control-medium control-select">
    <label for="field-creator_user_id" class="control-label">{{ _('Gebruiker') }}</label>
    <div class="controls">
      <select id="field-creator_user_id" name="creator_user_id" data-module="autocomplete">
        {% for user in h.donl_active_users() %}
          <option value="{{ user.id }}" {% if user.id == data.creator_user_id %} selected="selected" {% endif %}>{{ user.fullname }} ({{ user.name }} - {{ user.email }})</option>
        {% endfor %}
      </select>
    </div>
  </div>

  {% set existing_org = data.owner_org or data.group_id %}
  <div class="control-group">
    <label for="field-organizations" class="control-label">{{ _('Catalogus') }}</label>
    <div class="controls">
      <select id="field-organizations" name="owner_org" data-module="autocomplete">
        {% if h.check_config_permission('create_unowned_dataset') %}
           <option value="" {% if not selected_org and data.id %} selected="selected" {% endif %}>{{ _('No organization') }}</option>
        {% endif %}
        {% for organization in organizations_available %}
          {# get out first org from users list only if there is not an existing org #}
          {% set selected_org = (existing_org and existing_org == organization.id) or (not existing_org and not data.id and organization.id == organizations_available[0].id) %}
          <option value="{{ organization.id }}" {% if selected_org %} selected="selected" {% endif %}>{{ organization.display_name }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
{% endif %}


<h2>{{ _('B. Verplichte velden') }}</h2>

{{ form.select('dataset_status', label=_('Status'), id='field-dataset_status', selected=data.dataset_status, error=errors.dataset_status, classes=['control-select'], options=h.donl_dataset_status(), is_required=true) }}

{% set date_planned_display = "block" if data.dataset_status == "http://data.overheid.nl/status/gepland" else "none" %}
<div id="div-date_planned" style="display:{{ date_planned_display }}">
  {{ form.input('date_planned', placeholder="dd-mm-jjjj", label=_('Datum gepland'), id='field-date_planned', value=data.date_planned, error=errors.date_planned, classes=['control-full', 'control-large'], type='text', is_required=true) }}
</div>


{{ form.input('title', id='field-title', label=_('Title'), placeholder=_('vb. Rijksbegroting 2014'), value=data.title, error=errors.title, classes=['control-full', 'control-large'], is_required=true) }}

{{ form.input('name', id='field-name', label=_('Name'), placeholder=_(''), value=data.name, error=errors.title, classes=['control-full', 'control-large'], is_required=true) }}



{{ form.markdown('notes', id='field-notes', label=_('Description'), placeholder=_('vb. Een overzicht van uitgaven, verplichtingen en ontvangsten per artikel van de departementale begrotingen.'), value=data.notes, error=errors.notes, is_required=true) }}

<div class="control-group control-select">
  {% set error = errors.license_id %}
  <label class="control-label" for="field-license"><span title=" {{ _('This field is required') }}" class="control-required">*</span> {{ _("Licentie") }}</label>
  <div class="controls">
    <select id="field-license" name="license_id" {# data-module="autocomplete" #}>
      {% for license_desc, license_id in licenses %}
        <option value="{{ license_id }}" {% if data.get('license_id', 'notspecified') == license_id %}selected="selected"{%elif license_id == 'cc-0'%}selected="selected"{% endif %}>{{ license_desc }}</option>
      {% endfor %}
    </select>
    {% if error %}<span class="error-block">{{ error }}</span>{% endif %}
    {# Licence information block   
    <span class="info-block info-inline">
      <i class="icon-info-sign"></i>
      {% trans %}
        Definities van licenties en aanvullende informatie zijn te vinden op <a href="http://opendefinition.org/licenses/">opendefinition.org</a>
      {% endtrans %}
    </span>
    #}
  </div>
</div>

{{ form.select('language', label=_('Taal'), id='field-language', selected=data.language, error=errors.language, classes=['control-select'], is_required=true, options=h.donl_language()) }}

{{ form.input('modified', placeholder="dd-mm-jjjj", label=_('Wijzigingsdatum'), id='field-modified', value=data.modified or '', error=errors.modified, classes=['control-full', 'control-large'], type='text', is_required=true) }}



<h2>{{ _('Zichtbaarheid') }}</h2>

{# if we have a default group then this wants remembering #}
{% if data.group_id %}
  <input type="hidden" name="groups__0__id" value="{{ data.group_id }}" />
{% endif %}

{% if show_visibility_selector %}
  {% block package_metadata_fields_visibility %}
    <div class="control-group control-select">
      <label for="field-private" class="control-label">{{ _('Zichtbaarheid op data.overheid.nl') }}</label>
      <div class="controls">
        <select id="field-private" name="private">
          {% for option in [('True', _('Verborgen')), ('False', _('Zichtbaar'))] %}
          <option value="{{ option[0] }}" {% if option[0] == data.private|trim %}selected="selected"{% endif %}>{{ option[1] }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
  {% endblock %}
{% endif %}

{% if data.id and h.check_access('package_delete', {'id': data.id}) and data.state != 'active' %}
  <div class="control-group control-select">
    <label for="field-state" class="control-label">{{ _('Status') }}</label>
    <div class="controls">
      <select id="field-state" name="state">
        <option value="active" {% if data.get('state', 'none') == 'active' %} selected="selected" {% endif %}>{{ _('Active') }}</option>
        <option value="deleted" {% if data.get('state', 'none') == 'deleted' %} selected="selected" {% endif %}>{{ _('Deleted') }}</option>
      </select>
    </div>
  </div>
{% endif %}