{% set can_edit = h.check_access('package_update', {'id':pkg.id }) %}
{% set url_action = 'resource_edit' if url_is_edit and can_edit else 'resource_read' %}
{% set url = h.url_for(controller='package', action=url_action, id=pkg.name, resource_id=res.id) %}

<li class="resource-item" data-id="{{ res.id }}">
  <div class="resource-row">
    {% block resource_item_title %}
      <a class="heading" href="{{ url }}" title="{{ res.name or res.description }}">
        {{ h.resource_display_name(res) | truncate(50) }}
        {{ h.popular('views', res.tracking_summary.total, min=10) }}
      </a>
    {% endblock %}
    <p class="description">
      {% if res.description %}
        {{ h.markdown_extract(res.description, extract_length=80) }}
      {% endif %}
    </p>

    <div class="header-melding">
        {% if h.koop_theme_is_format_downloadable(res.format) %}
          <a href="{{ res.url }}" class="resource-url-analytics" target="_blank"> download bestand</a>
        {% else %}
          <span class="webservice">Let op dit is een webservice!</span>
          <a href="/webservice?link={{ res.url }}" class="webservice2">Klik hier voor meer informatie</a>
        {% endif %}
    </div>
  </div>
  

  {% if res.url %}
    <div class="resource-row">
      <span class="resource-label">Toegangslink:</span>
      {% if h.koop_theme_is_format_downloadable(res.format) %}
        <a href="{{ res.url }}">{{ res.url }}</a>
      {% else %}
        {{ res.url }}
      {% endif %}
    </div>
  {% endif %}


  {% if res.download_url %}
    <div class="resource-row">
      <span class="resource-label">Downloadlink:</span> <a href="{{ res.download_url }}">{{ res.download_url }}</a>
    </div> 
  {% endif %}
 

  <div class="resource-row">
    <div class="resource-row-block">
      <span class="resource-label">Formaat:</span><br />
      <span class="label" data-format="{{ res.format.lower() }}">{{ res.format }}</span>
    </div>

    <div class="resource-row-block">
      <span class="resource-label">Wijzigingsdatum:</span><br /> {{ h.render_datetime(res.last_modified) or h.render_datetime(res.revision_timestamp) or h.render_datetime(res.created) or _('unknown') }}
    </div>
  
    <div class="resource-row-block">
      <span class="resource-label">Grootte bestand:</span><br />{{ res.bytesize }}
    </div>
  </div>
</li>
