{# 
Renders a list of resources with icons and view links.

resources - A list of resources to render
pkg - A package object that the resources belong to.

Example:

  {% snippet "package/snippets/resources_list.html", pkg=pkg, resources=pkg.resources %}

#}

{% set tabFormats = h.getTabFormats() %}
{% set unknownResources = h.checkForUnknownResources( resources ) %}

<section id="dataset-tabs" class="dataset-tabs">
	<ul class='tab'>
		<li><a href='#downloads'>Downloads</a></li>
		<li><a href='#webservice'>Webservice</a></li>
		<li><a href='#documentatie'>Documentatie</a></li>
		<li><a href='#link'>Links</a></li>
		{% if unknownResources %}
		<li><a href='#overige'>Overige</a></li>
		{% endif %}
		<li><a href='#metadata'>Metadata</a></li>

	</ul>
</section>


{# Check for DOWNLOAD types in all resources, if found, add to tab #}
<section id="downloads" class="downloads tab">
	<div id="downloads-content" class='downloads-content'>
		{% if resources %}
			<ul class="resource-list">
		    {% for resource in resources %}
		    	{% if resource.format.lower() in tabFormats.Downloads %}
		    		{% snippet 'package/snippets/resource_item_downloads.html', pkg=pkg, res=resource %}
		    	{% endif %}
		    {% endfor %}
		  </ul>
    {% endif %}
</div>
    <div class='buttons-container' id='downloads-buttons-container'>
	    {% snippet 'package/snippets/dataset-buttons.html', pkg=pkg, h=h %}
    </div>
</section>


{# Check for WEBSERVICE types in all resources, if found, add to tab #}
<section id="webservice" class="webservice tab">
	<div id="webservice-content" class='webservice-content'>
		{% if resources %}
			<ul class="resource-list">
		    {% for resource in resources %}
		    	{% if resource.format.lower() in tabFormats.Webservice %}
		    		{% snippet 'package/snippets/resource_item_webservice.html', pkg=pkg, res=resource %}
		    	{% endif %}
		    {% endfor %}
		  </ul>
    {% endif %}
	</div>
	<div class='buttons-container' id='webservices-buttons-container'>
	    {% snippet 'package/snippets/dataset-buttons.html', pkg=pkg, h=h %}
	</div>
</section>

{# Check for DOCUMENTATIE types in all resources, if found, add to tab #}
<section id="documentatie" class="documentatie tab">
	<div id="documentatie-content" class='documentatie-content'>
		{% if resources %}
			<ul class="resource-list">
		    {% for resource in resources %}
		    	{% if resource.format.lower() in tabFormats.Documentatie %}
		    		{% snippet 'package/snippets/resource_item_downloads.html', pkg=pkg, res=resource %}
		    	{% endif %}
		    {% endfor %}
		  </ul>
    {% endif %}
	</div>
    <div class='buttons-container' id='documentatie-buttons-container'>
        {% snippet 'package/snippets/dataset-buttons.html', pkg=pkg, h=h %}
    </div>
</section>


{# Check for LINKS types in all resources, if found, add to tab #}
<section id="link" class="link tab">
	<div id="link-content" class='link-content'>
		{% if resources %}
			<ul class="resource-list">
		    {% for resource in resources %}
		    	{% if resource.format.lower() in tabFormats.Links %}
		    		{% snippet 'package/snippets/resource_item_links.html', pkg=pkg, res=resource %}
		    	{% endif %}
		    {% endfor %}
		  </ul>
    {% endif %}
	</div>
    <div class='buttons-container' id='links-buttons-container'>
        {% snippet 'package/snippets/dataset-buttons.html', pkg=pkg, h=h %}
    </div>
</section>


{# Create an extra tab for unknown resources #}
{% if unknownResources %}
<section id="overige" class="link tab">
	<div id="overige-content" class='link-content'>
		{% if resources %}
			<ul class="resource-list">
		    {% for resource in resources %}
		    	{% if resource.format.lower() not in tabFormats.All %}
		    		{% snippet 'package/snippets/resource_item_overige.html', pkg=pkg, res=resource %}
		    	{% endif %}
		    {% endfor %}
		  </ul>
    {% endif %}
	</div>
    <div class='buttons-container' id='overige-buttons-container'>
        {% snippet 'package/snippets/dataset-buttons.html', pkg=pkg, h=h %}
    </div>
</section>
{% endif %}


