{% set can_edit = h.check_access('package_update', {'id':pkg.id }) %}
{% set url_action = 'resource_edit' if url_is_edit and can_edit else 'resource_read' %}
{% set url = h.url_for(controller='package', action=url_action, id=pkg.name, resource_id=res.id) %}

<li class="resource-item ckan-resource-item" data-id="{{ res.id }}">
  <div class="resource-row">
    <div class="resource-left">
        <div>
            <span class="label" data-format="{{ res.format.lower() }}">{{ res.format }}</span>
            <a class="heading" href="{{ url }}" title="{{ res.name or res.description }}">
        	    {{ h.resource_display_name(res) | truncate(50, True) }}
    	        {{ h.popular('views', res.tracking_summary.total, min=10) }}
    	    </a>
        </div>
  	    
  	    <div class="resource-item-webservice-warning">
            Let op: dit is een webservice!<br/>
  	        {% if res.orginal_url %}
                <a href="/webservice?link={{ res.orginal_url }}" class="webservice2">Klik hier voor meer informatie</a>
            {%  else %}
                <a href="/webservice?link={{ res.url }}" class="webservice2">Klik hier voor meer informatie</a>
            {% endif %}
        </div>
        
        {% if res.url %}
            <div>
                <span class="resource-label">Toegangslink:</span>
                <div class="resource-link" title="{{ res.url }}">
                    {% if h.koop_theme_is_resource_downloadable(res.format) %}
                        {% if res.orginal_url %}
                            <a href="{{ res.orginal_url }}" class="resource-url-analytics" target="_blank"> download bestand</a>
                        {%  else %}
                            <a href="{{ res.url }}" class="resource-url-analytics" target="_blank"> download bestand</a>
                        {% endif %}
                    {% else %}
                        {% if res.orginal_url %}
                            <a href="{{ res.orginal_url }}" class="resource-url-analytics" target="_blank">{{ res.orginal_url }}</a>
                        {%  else %}
                            <a href="{{ res.url }}" class="resource-url-analytics" target="_blank">{{ res.url }}</a>
                        {% endif %}


                    {% endif %}
                </div>
            </div>
        {% endif %}
    </div> <!-- // resource-left -->
    <div class="resource-right">
        {{ h.resourceLinkStatusDiv( res.link_status )|safe }}
    </div> <!-- //resource-right -->
    
  </div> <!-- // resource-row -->

</li>
