{%- block doctype %}<!DOCTYPE html>{% endblock -%}
{%- block htmltag -%}
{% set lang = h.lang() %}
<!--[if IE 7]> <html lang="{{ lang }}" class="ie ie7 lt-ie9"> <![endif]-->
<!--[if IE 8]> <html lang="{{ lang }}" class="ie ie8 lt-ie9"> <![endif]-->
<!--[if IE 9]> <html lang="{{ lang }}" class="ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="{{ lang }}"> <!--<![endif]-->
{%- endblock -%}

  <head{% block headtag %}{% endblock %}>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
	
    <link rel="shortcut icon" href="/sites/all/themes/koop2/images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon-precomposed" href="/sites/all/themes/koop2/images/apple-touch-icon-precomposed.png">
    <link rel="apple-touch-icon" size="72x72"  href="/sites/all/themes/koop2/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" size="114x114"  href="/sites/all/themes/koop2/images/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" size="144x144"  href="/sites/all/themes/koop2/images/apple-touch-icon-144x144.png">    

    <title>
      {%- block title -%}
        {%- block subtitle %}{% endblock -%}
        {%- if self.subtitle()|trim %} {{ g.template_title_deliminater }} {% endif -%}
        {{ g.site_title }}
      {%- endblock -%}
    </title>

    {%- block styles %}
      {% resource g.main_css[6:] %}
    {% endblock %}

    {% block head_extras %}
      {{ g.template_head_end | safe }}
    {% endblock %}

    {%- block custom_styles %}
      {%- if g.site_custom_css -%}
      <style>
        {{ g.site_custom_css | safe }}
      </style>
      {%- endif %}
    {% endblock %}
    
    <link rel="stylesheet" href="/sites/all/themes/koop2/css/main.css" />
    <link rel="stylesheet" href="/sites/all/themes/koop2/css/custom_theme_addons.css" />
	<link rel="stylesheet" href="/sites/default/files/koop_theme/themes.css" />
    <!--[if IE 8]><link rel="stylesheet" href="sites/all/themes/koop2/css/IE8.css" /><![endif]-->
    
    {# 
    
    
    GEEN JAVASCRIPT HIER, DEZE ONDERAAN PLAATSEN IN page.html
    
    CKAN laad zijn eigen jQuery, deze overschrijft de jQuery die hier staat (waardoor alles aan $ verdwijnt, incl prototypes en document-ready)
    #}
    
  </head>

  <body class="ckan {% block bodyclass %}{% endblock %}" {% block bodytag %} data-site-root="{{ h.url('/', locale='default', qualified=true) }}" data-locale-root="{{ h.url('/', qualified=true) }}" {% endblock %}>

    {%- block page %}{% endblock -%}

    {%- block scripts %}
    {% endblock -%}

    {% block body_extras -%}
      {{ g.template_footer_end | safe }}
    {%- endblock %}
  </body>
</html>

