{% extends 'user/edit_base.html' %}

{% block actions_content %}{% endblock %}

{% block breadcrumb_content %}
  <span class="easy-breadcrumb_segment"><a href="{{ h.url_for(controller='user', action='index') }}">{{ _('Users') }}</span>
  <span class="easy-breadcrumb_segment"><a href="{{ h.url_for(controller='user', action='read', id=c.user_dict.name) }}">{{ c.user_dict.display_name }}</span>
  <h1>{{ _('Manage') }}</h1>
{% endblock %}

{% block primary_content_inner %}
  {{ c.form | safe }}
{% endblock %}

{% block secondary_content %}
  <section class="module module-narrow module-shallow">
    <h2 class="module-heading"><i class="icon-medium icon-info-sign"></i> {{ _('Account Info') }}</h2>
    <div class="module-content">
      {% trans %}
        Your profile lets other CKAN users know about who you are and what you
        do.
      {% endtrans %}
    </div>
  </section>
{% endblock %}
